<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNg" verbose="1" >
    <test name="FirstTest" >
        <classes>
            <class name="TestRunner">
                    <methods>
                        <include name="ThisIsTestMethod1"/>
                        <include name="ThisIsTestMethod2"/>
                        <include name="ThisIsTestMethod3"/>
                        <include name="ThisIsBeforeTest"/>


                    </methods>
            </class>
        </classes>
    </test>


</suite>